@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
footer .firstRow,
footer .secondRow,
footer .lastRow {
  width: 100%;
  margin: 0 !important; }

footer .firstRow {
  background-color: #0d4a5d; }
  footer .firstRow img {
    width: 100px; }
  footer .firstRow .footerIcone {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .firstRow p {
    color: white;
    margin-top: 10px; }

footer .secondRow {
  background-color: #e1eef6; }
  footer .secondRow a {
    text-decoration: none !important; }

footer .lastRow {
  background-color: #ea5a30;
  height: 30px; }

@media screen and (max-width: 990px) {
  /*Global style */
  body {
    padding: 0 !important;
    margin: 0 !important; }
  .row {
    padding: 0 10px; }
  body.container {
    max-width: 100%; }
  /*home page*/
  .headerContents {
    flex-direction: column; }
    .headerContents .col-6,
    .headerContents .col-7,
    .headerContents .col-5,
    .headerContents .submit {
      width: 100% !important; }
    .headerContents .col-5 {
      padding: 0; }
  .topDestination h2 {
    margin-top: 10px; }
  .topDestination .row {
    display: flex;
    flex-direction: column; }
  .topDestination .announcement {
    width: 100%;
    padding: 0; }
  .row.secondRow {
    text-align: center; }
  /*paris page */
  .parisFirstContent .parisRow {
    flex-direction: column-reverse; }
  .parisFirstContent .col-lg-7 {
    position: relative; }
    .parisFirstContent .col-lg-7 .price {
      position: absolute;
      top: 0;
      right: 2%; }
    .parisFirstContent .col-lg-7 .btn {
      width: 100% !important; }
  .parisFirstContent .col-lg-5,
  .parisFirstContent .col-12,
  .parisFirstContent .allImg {
    padding: 0;
    margin: 0; }
  .parisSecondContent .my-3 {
    margin: 0; }
  .parisLastContent .announcement {
    padding: 0;
    margin: 0; }
  /* contact page */
  .contactFirstContent .submit {
    width: 100% !important; } }

/*Global style */
* {
  font-family: 'Open Sans', sans-serif; }

#logo {
  height: 50px;
  width: 50px;
  margin-right: 15px; }

.logoContent a {
  font-size: 25px;
  color: #0d4a5d;
  font-weight: bold; }

#navbarNavAltMarkup a {
  color: #0d4a5d;
  font-weight: bold; }

#navbarNavAltMarkup .active {
  color: #ea5a30; }

.banner {
  background-image: url("https://i.picsum.photos/id/1043/5184/3456.jpg?hmac=wsz2e0aFKEI0ij7mauIr2nFz2pzC8xNlgDHWHYi9qbc");
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .banner p,
  .banner h2,
  .banner h1 {
    color: white;
    text-align: center;
    z-index: 1; }
  .banner .darkenDiv {
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.content h3,
.content h2 {
  border-left: 5px #ea5a30 solid;
  padding-left: 10px; }

h3 {
  font-size: 22px !important; }

.btn {
  background-color: #ea5a30 !important;
  border: none !important;
  color: white !important; }

/*home style */
.findCol {
  background-color: #0d4a5d;
  padding: 10px; }
  .findCol .submit {
    padding: 5px 10px;
    width: 20%; }
  .findCol label,
  .findCol h3 {
    color: white; }

.submitCol {
  display: flex;
  justify-content: flex-end; }

.dealImg,
.cardImg {
  width: 100%;
  height: 100%; }

.announcement {
  position: relative; }
  .announcement .whiteBlur {
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: #585858;
    background-color: rgba(255, 255, 255, 0.575);
    bottom: 0;
    width: 100%;
    padding-right: 24px; }
  .announcement .deal {
    position: absolute;
    z-index: 1;
    color: #242424;
    margin: 20px; }
    .announcement .deal h3 {
      color: #585858; }
  .announcement p {
    margin: 0px;
    font-size: 14px; }

.imformation {
  padding: 10px 20px; }
  .imformation h4 {
    font-size: 30px; }

.price p {
  background-color: #e6ac3b;
  font-size: 20px;
  font-weight: bold;
  padding: 10px; }

.topDestination .announcement .deal h4 {
  color: #ea5a30;
  font-weight: bold; }

/* style Paris */
.allImg .col-3 {
  position: relative; }
  .allImg .col-3:hover .magnifyingGlass {
    display: block; }
  .allImg .col-3:hover .darkenDivHover {
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; }

.allImg .magnifyingGlass {
  display: none;
  position: absolute;
  top: 25%;
  left: 40%; }

/* style Contact */
.contactFirstContent input,
.contactFirstContent textarea,
.contactFirstContent select {
  border-color: #ea5a30; }

/* style Terms & Conditions*/
.conditionsFirstContent ul {
  padding: 0 50px !important; }
