footer {
    .firstRow,
    .secondRow,
    .lastRow {
        width: 100%;
        margin: 0 !important;
    }
    .firstRow {
        background-color: $blue;

        img {
            width: 100px;
        }
        .footerIcone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p {
            color: white;
            margin-top: 10px;
        }
    }
    .secondRow {
        background-color: $lightBlue;
        a {
            text-decoration: none !important;
        }
    }
    .lastRow {
        background-color: $orange;
        height: 30px;
    }
}
