@import "variable.scss";
footer {
    .firstRow {
        background-color: $blue;

        img {
            width: 100px;
        }
        .footerIcone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        p {
            color: white;
            margin-top: 10px;
        }
    }
}
