@media screen and (max-width: 990px) {
    /*Global style */
    body {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .row {
        padding: 0 10px;
    }
    body.container {
        max-width: 100%;
    }
    /*home page*/

    .headerContents {
        .col-6,
        .col-7,
        .col-5,
        .submit {
            width: 100% !important;
        }
        .col-5 {
            padding: 0;
        }
        flex-direction: column;
    }
    .topDestination {
        h2 {
            margin-top: 10px;
        }
        .row {
            display: flex;
            flex-direction: column;
        }
        .announcement {
            width: 100%;
            padding: 0;
        }
    }
    .row.secondRow {
        text-align: center;
    }
    /*paris page */
    .parisFirstContent {
        .parisRow {
            flex-direction: column-reverse;
        }

        .col-lg-7 {
            position: relative;
            .price {
                position: absolute;
                top: 0;
                right: 2%;
            }
            .btn {
                width: 100% !important;
            }
        }
        .col-lg-5,
        .col-12,
        .allImg {
            padding: 0;
            margin: 0;
        }
    }
    .parisSecondContent {
        .my-3 {
            margin: 0;
        }
    }
    .parisLastContent {
        .announcement {
            padding: 0;
            margin: 0;
        }
    }
    /* contact page */
    .contactFirstContent {
        .submit {
            width: 100% !important;
        }
    }
}
