<div class="row firstRow py-2">
  <div class="col-lg-3 col-md-6 footerIcone"><img src="/assets/images/calculator.png" alt="Icone compare price">
    <p>Compare price</p>
  </div>
  <div class="col-lg-3 col-md-6 footerIcone"><img src="/assets/images/discount.png" alt="Icone get the best deals">
    <p>Get the best deals</p>
  </div>
  <div class="col-lg-3 col-md-6 footerIcone"><img src="/assets/images/support.png" alt="Icone 7/7 support">
    <p>7/7 support</p>
  </div>
  <div class="col-lg-3 col-md-6 footerIcone"><img src="/assets/images/online-payment.png" alt="Icone Secure online payment">
    <p>Secure online payment</p>
  </div>
</div>
<div class="row secondRow">
  <div class="col-lg-4 col-md-12 mt-3">
    <ul class="list-unstyled">
      <li>
        <strong>Links</strong>
      </li>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Destinations</a>
      </li>
      <li>
        <a href="#">Deals</a>
      </li>
      <li>
        <a href="/contact.html">Contact</a>
      </li>
      <li>
        <a href="/conditions.html">Terms & Conditions</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-4 col-md-12 mt-3">
    <ul class="list-unstyled">
      <li>
        <strong>Address</strong>
      </li>
      <li>15 rue de la paix</li>
      <li>75010,Paris</li>
      <li>France</li>
      <li>Other addresses</li>
    </ul>
  </div>
  <div class="col-lg-4 col-md-12 mt-3">
    <ul class="list-unstyled">
      <li>
        <strong>Call Us</strong>
      </li>
      <li>
        <strong>
          <a href="#">+ 1 0805-540-801</a>
        </strong>
      </li>
    </ul>
  </div>
</div>
<div class="row lastRow"></div>
