<nav class="navbar navbar-expand-lg navbar-light">
  <div class="logoContent d-flex col-8">
    <img src="/assets/images/plane.png" alt="Image du logo" id="logo">
    <h1>Travel Agency</h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" id="home" href="/">Home
        <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="#">Destinations</a>
      <a class="nav-item nav-link" href="#">Deals</a>
      <a class="nav-item nav-link" href="/contact.html" id="contact">Contact</a>
    </div>
  </div>
</nav>
